domains:
  - domain: "example0.com"
    name: "subdomain0"
    zone: "14188253e4f00003d5d45e03pp0ppp23"
    proxied: false
  - domain: "example1.com"
    subdomain: "example1"
    zone: "14188253e4f00003d5d45e03pp0ppp23"
    proxied: false
  - domain: "example2.com"
    name: "example2"
    zone: "14188253e4f00003d5d45e03pp0ppp23"
    proxied: false
  - domain: "example3.com"
    name: "example3"
    zone: "14188253e4f00003d5d45e03pp0ppp23"
    proxied: false
auth:
  key: "14188253e4f00003d5d45e03pp0ppp23"
  email: "your-email@example.com"